node_modules/
build/
tests/test_output
libs/
Examples/V0.2.0/v1_example_gz.tfa.gz
Examples/V0.2.0/v1_example_gz.tfa.index
Examples/V0.2.0/v1_example_mult.tfa.gz
Examples/V0.2.0/v1_example_mult.tfa.index
Examples/V0.2.0/v1_example.tfa.gz
Examples/V0.2.0/v1_example.tfa.index
Examples/V0.2.0/v1_pool.tfa.gz
Examples/V0.2.0/v1_pool.tfa.index
Examples/V0.2.0/v1_TEST_almond_10lines.tfa.gz
Examples/V0.2.0/v1_TEST_almond_10lines.tfa.index
Examples/V1.0.0/v2_example_mult.tfa.gz
Examples/V1.0.0/v2_example_mult.tfa.gz.tbi
Examples/V1.0.0/v2_example.tfa.gz
Examples/V1.0.0/v2_example.tfa.gz.tbi
Examples/V1.0.0/v2_pool.tfa.gz
Examples/V1.0.0/v2_pool.tfa.gz.tbi
Examples/V1.0.0/v2_TEST_almond_10lines.tfa.gz
Examples/V1.0.0/v2_TEST_almond_10lines.tfa.gz.tbi
